In [6]:
my_string = 'hello'
my_list = []
for letter in my_string:
    my_list.append(letter)
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [7]:
#we can do the same thing with--->>
my_list = [letter for letter in my_string]

In [8]:
my_list

['h', 'e', 'l', 'l', 'o']

In [9]:
# Grab every letter in string
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']

In [10]:
lst = [x for x in range(0,11)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
lst = [x**2 for x in range(0,11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [13]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [16]:
#same with a for
celsius=[2,22,222]
fahrenheit =[]
for temp in celsius:
    fahrenheit.append(((9/5)*temp + 32))
fahrenheit

[35.6, 71.6, 431.6]

In [19]:
#nested list comprehensions
mylist=[]
for x in[2,3,4]:
    for y in [1,10,100]:
        mylist.append(x*y)
mylist

[2, 20, 200, 3, 30, 300, 4, 40, 400]

In [20]:
mylist = [x*y for x in[2,3,4] for y in [1,10,100]]
mylist

[2, 20, 200, 3, 30, 300, 4, 40, 400]

In [17]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [ ]:
x = input("Enter comma-separated numbers: ").split(',')