___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [54]:
def lesser_of_two_evens(a, b):
    if a % 2 == 0 and b % 2 == 0: # both numbers are even
        if a > b:
            return b
        else:
            return a
    elif a % 2 != 0 or b % 2 != 0: # at least one is odd
        if a > b:
            return a
        else:
            return b

In [254]:
# option 2
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b) # returns the min of a list
    else:
        return max(a,b)# returns the max of a list

In [255]:
# Check
lesser_of_two_evens(2,4)

2

In [56]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [60]:
def animal_crackers(text):
    words= text.split()
    if words[0][0]== words[1][0]:
        return True
    else:
        return False

In [ ]:
# option 2
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [61]:
# Check
animal_crackers('Levelheaded Llama')

True

In [62]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [87]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif n1+n2 ==20 :
        return True
    else:
        return False

In [ ]:
# option 2
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [86]:
# Check
makes_twenty(20,10)

True

In [88]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [204]:
def old_macdonald(name):
    new_string = []
    for x in range(len(name)):
        if x == 0 or x == 3:
            new_string.append(name[x].upper())
        else:
             new_string.append(name[x].lower())
    return ''.join(new_string)

In [256]:
# option 2
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [304]:
# option 3
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween =name[1:3]
    fourth_letter = name[3]
    rest =name[4:]
    
    return first_letter.upper()+ inbetween + fourth_letter.upper()+rest

In [305]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [175]:
def master_yoda(text):
    list_words = text.split()
    new_list =[]
    for x in range(len(list_words)):
        new_list.append(list_words[x-1])  
        #the las word goes on first position     
        
    return ' '.join(new_list)

In [258]:
# correct answer
def master_yoda(text):
    return ' '.join(text.split()[::-1])

# def master_yoda(text):
#     wordlist = text.split()
#     reverse_word = wordlist[::-1]
#     return ' '.join(reverse_word)

In [259]:
# Check
master_yoda('I am home')

'home am I'

In [170]:
# Check
master_yoda('We are ready')

'ready We are'

In [307]:
# HOW .join() works
mylist =['a', 'b', 'c']
'--'.join(mylist)

'a--b--c'

In [308]:
''.join(mylist)

'abc'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [190]:
def almost_there(n):
    onerange = list(range(90, 111))
    tworange =list(range(190,211))
    if n in onerange:
        return True
    elif n in tworange:
        return True
    else:
        return False

In [ ]:
# option 2 using abs
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [191]:
# Check
almost_there(104)

True

In [194]:
almost_there(209)

True

In [202]:
almost_there(11)

False

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [260]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [261]:
# Check
has_33([1, 3, 3])

True

In [262]:
# Check
has_33([1, 3, 1, 3])

False

In [263]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [265]:
def paper_doll(text):
    new_word = ''
    for x in text:
        new_word += x*3
    return new_word

In [266]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [267]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [315]:
def blackjack(a,b,c):
    if a+b+c <=21:
        return a+b+c
    elif (a+b+c)-10 <= 21 and a==11 or b==11 or c==11: 
        return a+b+c-10
    else: 
        return "BUST"

In [283]:
# option 2
def blackjack(a,b,c):    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [314]:
# Check
blackjack(5,6,7)

18

In [310]:
# Check
blackjack(9,9,9)

'BUST'

In [316]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [287]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [288]:
# Check
summer_69([1, 3, 5])

9

In [289]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [292]:
# Check
summer_69([2, 1, 6, 9, 11])

93

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [293]:
def spy_game(nums):

    code = [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x'] length=1
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [294]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [295]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [296]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [297]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [298]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [299]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [300]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [302]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [303]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!