
range<br></br>
The range function allows you to quickly generate a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size.

In [9]:
range(0,11)

range(0, 11)

In [10]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [5]:
for num in range(2,6):
    print(num)

2
3
4
5

In [8]:
for num in range(1,10,3):
    print(num)

1
4
7

enumerate<br></br>
enumerate is a very useful function to use with for loops.

In [11]:
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [12]:
for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

zip

In [15]:
list1=[1,2,3,4]
list2=['a','s','f']
list3=[123,123,126]
for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 123)
(2, 's', 123)
(3, 'f', 126)

In [16]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [17]:
for item1, item2 in zip(mylist1,mylist2):
    print('For this tuple, first item was {} and second item was {}'.format(item1,item2))

For this tuple, first item was 1 and second item was a
For this tuple, first item was 2 and second item was b
For this tuple, first item was 3 and second item was c
For this tuple, first item was 4 and second item was d
For this tuple, first item was 5 and second item was e

in operator

In [18]:
'x' in ['x','y','z']

True

In [19]:
'x' in [1,2,3]

False

In [20]:
'x' not in ['x','y','z']

False

In [21]:
'x' not in [1,2,3]

True

In [22]:
'a'in 'a world'

True

In [23]:
d={'mykey':345}
345 in d.keys()

False

In [24]:
345 in d.values()

True

min and max

In [25]:
mylist = [10,20,30,40,100]
min(mylist)

10

In [26]:
max(mylist)

100

random

In [27]:
from random import shuffle

In [28]:

# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
shuffle(mylist)

In [29]:
mylist

[20, 40, 30, 100, 10]

In [30]:
shuffle(mylist)

In [31]:
mylist

[20, 30, 40, 100, 10]

In [32]:
from random import randint

In [33]:
randint(0,100)

34

In [34]:
randint(0,100)

67

In [36]:
input('Enter Something into this box: ')

Enter Something into this box: 56

'56'